/* main background color */
.my-blue {
    background-color: rgb(161, 210, 235);
}

/* name display */
.my-name {
    position: relative;
    font-family: "Lucida Console", monospace;
}

.emilia {
    position: relative;
    margin-bottom: 3.5rem;
    background-color: rgb(151, 102, 28);
    padding-top: 0.6rem;
    padding-bottom: 1.4rem;
    padding-left: 1rem;
}

.josefina {
    position: relative;
    margin-bottom: 3.5rem;
    background-color:rgb(182, 129, 45);
    padding-top: 0.6rem;
    padding-bottom: 1.4rem;
}

.hartline {
    position: relative;
    background-color: rgb(218, 159, 70);
    padding-top: 0.6rem;
    padding-bottom: 1.4rem;
    padding-right: 1rem;
}

.emi, .lia, .jose, .fina, .hart, .line {
    margin: 0 !important;
    margin-bottom: -1rem !important;
    padding: 0;
    color: black !important;
    font-size: 3.125rem;
}

/* navigation links */
.projects-nav, .contact-nav {
    position: absolute;
    color: white !important;
}

.projects-nav {
    right: 0rem;
    top: 5.2rem;
    font-size: 4rem;
    font-family: serif;
    font-style: italic;
    cursor: pointer;
}

.contact-nav {
    top: 5.2rem;
    font-size: 4rem;
    font-family: serif;
    font-style: italic;
    cursor: pointer;
}

.middle-helper {
    position: relative;
    padding: 0;
    margin: 0;
    height: 0;
}

.about-nav {
    position: relative;
    color: white !important;
    top: -5.3rem;
    font-size: 4rem;
    font-family: serif;
    font-style: italic;
    cursor: pointer;
}

/* nav content rendered on click */
.project-content {
    /* background-color: white; */
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    padding: 1rem;
    position: relative;
}

.about-content {
    background-color: white;
    margin-top: 0;
    margin-bottom: 3.5rem;
    padding: 1rem;
}

.contact-content {
    background-color: white;
    margin-top: 3.505rem;
    margin-bottom: 3.5rem;
    padding: 1rem;
}

/* projects */
.proj-wrapper {
    
}
.proj-pre {
  
}

